
body {
    background: #000000;
}

h1 {
	margin: 1rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(231, 216, 7);
}

img {
	max-width: 100%;
}

#main {
    background: #000000;
    padding: 1rem 0 2rem;
}

.iframe-wrapper {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 ratio (9/16 = 0.5625) */
  position: relative;
}
.iframe-wrapper iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /* Ajoutez les lignes suivantes */
    min-width: 800px; /* Largeur minimale de la vidéo */
    min-height: 600px; /* Hauteur minimale de la vidéo */
 }

#footer {
    padding: 1rem 0 2rem;
    border-top: 1px solid rgba(238, 234, 1, 0.973);
}